body{
background-color:lightgrey;
padding:100px;
}
h3{
background-color:white;
border:3px dashed yellow;
text-align:center;
}
main{
padding:0 300px;
}
p{
text-align:center;
background-color:cornsilk;
border-width:0 0 0 15px;
border-color:blue;
border-style:solid;
}